<ion-header>
  <ion-toolbar>
    <ion-title>
      Evidencija prisustva
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="reset()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-button (click)="confirm()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Datum</ion-label>
    <ion-datetime display-format="DD.MM.YYYY" [(ngModel)]="date"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Grupa</ion-label>
    <ion-select okText="Potvrdi" cancelText="Otkazi" [(ngModel)]="group">
      <ion-select-option [value]="g.id" *ngFor="let g of groups">{{g.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list *ngIf="members.length" lines="none">
    <!--<ion-list-header>
      <ion-label>Članovi</ion-label>
    </ion-list-header>-->
    <ion-item *ngFor="let member of members">
      <ion-thumbnail slot="start">
        <img [src]="'http://localhost:5000/' + member.image">
      </ion-thumbnail>
      <ion-label>{{member.name}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="member.isSelected"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="confirm()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
